<div class="product">
  <div class="product-details">
    <img [src]="getImageUrl(product)" [alt]="product.name" />
    <div class="product-info">
      <div class="name">{{ product.name }}</div>
      <div class="description">{{ product.description }}</div>
      <div class="category">Part Type: {{ product.category }}</div>
    </div>
  </div>
  <div class="price">
    @if (product.discount === 0.0) {
    <div>${{ product.price.toFixed(2) }}</div>
    } @else {
    <div class="discount">
      ${{ (product.price * (1 - product.discount)).toFixed(2) }}
    </div>
    }
    <button class="cta">Buy</button>
  </div>
</div>
